body {
  color: #606c76;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.01em;
}

main {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
}

#clock {
  width: 100%;
}

#title {
  text-align: center;
  font-size: max(1rem, min(5vh, 5vw));
}

.vstack {
  display: flex;
  flex-direction: column;
}

.hstack {
  display: flex;
  flex-direction: row;
}

.light {
  color: #222222;
  background-color: #8a9c76;
  transition: 0.4s ease-in-out;
}

.dark {
  color: #ce2424;
  background-color: #05090b;
  transition: 0.4s ease-in-out;
}

.timer {
  padding-right: 5vw;
  text-align: center;
  font-size: 35vw;
  font-family: "LCD", sans-serif;
}

.xltext {
  font-size: 10vw;
}

@media (orientation: landscape) {
  .timer {
    font-size: 35vh;
  }
  .xltext {
    font-size: 10vh;
  }
}

button {
  width: 100%;
  padding: 0.2em;
}

.shakeit {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
